body {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 100vh;
    grid-template-areas: '. calculator .';
    justify-self: center;
    align-self: center;
}

#calculator {
    display: grid;
    grid-area: calculator;
    grid-template-areas: 
    'display display display display'
    'a a a a'
    'b b b b'
    'c c c c'
    'd d d d';
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 3fr 1fr 1fr 1fr 1fr;
    position: relative;
    height: auto;
    width: auto;
}

#display {
    grid-area: display;
    background-color: blue;
}